<h1><%= @quiz.name %></h1>

<% if @quiz.questions.any? %>
  <ul>
    <% @quiz.questions.each do |q| %>
      <li><%= q.vraag %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no questions in this quiz (yet).</p>
<% end %>

<%= link_to "[Edit]", edit_quiz_path(@quiz.id) %>
<%= link_to "[Delete]", quiz_path(@quiz.id), method: :delete, data: { confirm: "Are you sure?" } %>
